h1,footer {
    color: rgb(253, 111, 34);
}

h2#like-equation {
    font-family: math;
    text-align: center;
}
h2#chat-equation {
    font-family: math;
    text-align: center;
}

fieldset#analyze {
    border: 3.5px solid black;
    padding: 10px;
}

.graph {
    border: 3.5px solid black;
}

fieldset#upload-field {
    border: 3.5px solid black;
}

.sumbit {
    float: right;
}